//
//  Secrets.xcconfig
//  Reciplease
//
//  Created by Sylvain Druaux on 03/03/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// https://betterprogramming.pub/manage-secrets-in-your-ios-app-using-xcode-configuration-files-fbceb6e97f47
RECIPE_SEARCH_APP_ID = fd18fbc7
RECIPE_SEARCH_API_KEY = 954b195ff6c397712d16f43876657464
FOOD_DATABASE_APP_ID = e57ddffe
FOOD_DATABASE_API_KEY = d549dade8e307f846ef2e75181dbe738
